{% load bootstrap3 %}
<!DOCTYPE html>
<!-- blog/templates/blog_layout.html -->
<html>
    <head>
        <title>{% block page_title %}InstaBlog에 오신 걸 환영합니다.{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body class="container">
{% block content %}{% endblock %}
    </body>
</html>
