{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}글 편집{% endblock %}

{% block content %}
<!-- blog/templates/create_post.html -->
        <form method="POST" action="" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group form-group-sm">
                <!-- <p>
                  <label>카테고리</label>
                    <select name="category">
                    {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                </p> -->

                <!-- form.as_p 는 froms에서 불러옴. -->
                {{form.as_p}}
                <!-- as_table 등등도 있음. -->

                <p>
                {% bootstrap_button "저장" button_type="submit" button_class="btn-primary" %}
                </p>

            </div>
        </form>

{% endblock %}
