{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}고치기{% endblock %}

{% block content %}
<!-- blog/templates/create_post.html -->
        <form method="POST" action="" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group form-group-sm">
                <p>
                  <label>카테고리</label>
                    <select name="category">
                    {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                </p>
                <p>
                <label for="id_title">글 제목</label>
                <input type="text" name="title" id="id_title" value="{{post.title}}"/>
                </p>
                <p>
                <label>내용</label>
                <textarea name="content" style="width:70%; height:200px">{{post.content}}</textarea>
                </p>

                {% with comments=post.comment_set.all %}
                {% include 'comment_list.html' %}
                {% endwith %}


                <p>
                {% bootstrap_button "저장" button_type="submit" button_class="btn-primary" %}
                </p>

            </div>
        </form>

{% endblock %}
