
{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %} {{post.title}} 글 보기{% endblock %}
{% block content %}
  <div class = 'post_container'>
      <h3> <a href="/posts/{{post.pk}}/"> {{post.title}} </a> </h3>

    <div class = 'post_content'>
      {{post.content}}
    </div>

  <div>
    <p> 글 갈 래 : {{post.category.name}}</p>
    <p> 작성일시 : {{post.created_at|date:"Y-m-d"}}</p>
  </div>
</div>

<!-- <div style="width:200px; height:100px" title="댓글"> -->

{% with comments=post.comment_set.all %}

{% include 'comment_list.html' %}
{% endwith %}
<form method="POST" action="" class="form-horizontal">
<p>

<textarea name="comment" style="width:40%; height:70px"></textarea>
{% bootstrap_button "댓글달기" button_type="submit" button_class="btn-primary" %}
</p>
</form>


</div>
{% endblock %}
