{% if form.errors %}
<p>아이디 또는 비밀번호가 일치하지 않습니다. 또는 권한이 없습니다.<p>
  {% endif %}

  {% if request.user.is_authenticated %}
  <p> 이미 로그인 되어 있습니다. <p>
    <p><a href="{% url 'logout_url' %}">로그아웃 원해요?</a></p>
{% endif %}

<form method="POST" action="{% url 'login_url' %}">
    {% csrf_token %}
     <input type="hidden" name="next" value="{{ next }}" />

    <p>
      {{ form.username.label_tag }}
      {{ form.username }}
    </p>
    <p>
        {{ form.password.label_tag }}
        {{ form.password }}
    </p>
    <p>
        <button type="submit">로그인</button>
     </p>

 </form>
